@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@Html.ActionLink("Naviguer vers la liste des pays", "VueListePays", "Home")
<br/>
@Html.Label("Modifier page Index = modifier Home/Index .cshtml ")
<br/>

@Html.ActionLink("page Test", "RetournerUneVue", "Home")<br/>
@Html.ActionLink("Mon first formulaire", "MonFormulaire", "Home")
